ul {
    list-style-type: none;
}
header {
    height: 50px;
    background-image: url(../images/tmntImages/bannerbg.png);
    background-repeat: repeat;
}
#top-of-page {
    display: block;
    margin: auto;
    top: 0px;
}
html, body {
    margin: 0;
}
body {
    background-image: url(../images/tmntImages/background.png);
    background-repeat: repeat;
}
h2 {
    font: 24pt bold Tahoma;
    text-shadow: #9999 3px 3px;
    text-align: center;
}
.center-container {
    display: block;
    width: 800px;
    height: 100%;
    margin: auto;
    border: solid;
    border-color: gray;
    border-width: 4px;
    border-radius: 20px;
    overflow: auto;
}
#review-columns {
    display: block;
    width: 550px; 
}
#top-of-center-container {
    font-size: 48pt;
    font-weight: bold;
    color: red;
    background-image: url(../images/tmntImages/rbg.png);
    background-repeat: repeat;
    height: 83px;
    margin-bottom: 5px;
}
.review-and-reviewer {
    width: 47%;
    display: block;
    margin: 5px;
    float: right;
    overflow: hidden;
}
.review-and-reviewer  p {
    display: block;
    font: 8pt sans-serif;
}
.rating-and-review {
    display: block;
    background-color: #E8DC9B;
    border: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
}
.rating-and-review p {
    font-weight: bold;
}
.rating-pic {
    float: left;
    margin: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.critic-pic {
    float: left;
    margin: 5px;
}
#movie-info {
    display: block;
    width: 250px;
    height: 100%;
    background-color: #A2B964;
    font: 8pt sans-serif;
    float: right;
    margin-left: 5px;
}

#bottom-of-center-container {
    text-align: center;
    background-color: #A2B964;
    clear: both;
}
footer {
    float: right;
}
footer img {
    opacity: 50%;
}