.header { grid-area: header; }
.menubar { grid-area: menu; }
.row { grid-area: column; }
.footer { grid-area: foot; }

.master {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu menu menu menu menu menu'
      'column column column column column column'
      'foot foot foot foot foot foot';
  }
  body {
    font-family: Arial;
    margin: 0;
  }
  .header {
    padding: 20px;
    text-align: center;
    background: rgb(0, 217, 255);
    color: black;
  }
  .menubar {
display: flex;
background: rgb(78, 92, 92);
  }
  .menubar a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
  }
  .menubar a:hover {
    background-color: white;
    color: black;
  }
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  .row div{
    text-align: left;
    line-height: 200px;
    font-size: 40px;
}
.col1 {
    background-color:  #999191f8;
    padding: 20px;
    flex:30%;
  }
  .col2 {
    background-color: #a39d9df6;;
    padding: 20px;
    flex:30%;
  }
  .col3 {
    background-color: #b9b1b1f8;
    padding: 20px;
    flex:30%;
  }
  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(78, 92, 92);
  }
